{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<style>
    img{
        margin-right: 40px;
    }
</style>

 <meta charset="utf-8">
   

    <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Facebook-profile</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- main css -->


    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
    <link rel="stylesheet" href="file:///C:/Users/user/Downloads/fontawesome-free-5.15.2-web/fontawesome-free-5.15.2-web/css/all.css">
</head>
<body>
    
<div class="container">
<p><a href="{% url 'post-list' %}"><h1>Back</a></p>
<article class="media content-section">
        <img class="rounded-circle article-img" src="{{ object.author.profile.image.url }}" alt="">
        <div class="media-body">
            <div class="article-metadata">
                <a href="{% url 'user-posts' object.author.username %}" class="mr-2">{{ object.author }}</a>
                <small class="text-muted">{{ object.date_posted |date:"D F dS, Y  " }}</small>
            </div>
            <h2 class="article-title"> {{ object.title }}</h2>
            <p class="article-content">{{ object.content }}</p>

            {% if object.author == user %}
                <a class="btn btn-success btn-sm mt-1 mb-1" href="{% url 'post-update' object.id %}">Update</a>
                <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'post-delete' object.id %}">Delete</a>
            {% endif %}
            
        </div>
    </article>
    {% comment %} <p><a href="{% url 'post-update' %}"><h1>Update</a></p> {% endcomment %}
</div>
        
    
    <hr>
    <br>
        
     

        
        
        
        
        
        
        
        
        
        
        
        
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        
</body>
</html>




